git "git@bitbucket.org:joshcampion89/StackView.git"
git "git@bitbucket.org:joshcampion89/AdvancedOperationKit"

github "TheDistance/TheDistanceCore"
github "TheDistance/KeyboardResponder"

github "SwiftyJSON/SwiftyJSON"
github "joshc89/ThemeKit"